body{
    background-color: #7491b0;
}
.frnds_contacts{
    display: block;
    margin: auto;
    width: 60%;
}
h2{
    text-align: center;
    color: black;
}
table{
    border: 2px ridge rgb(125, 122, 122);
    width: 100%;
    height: 100%;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #96D4D4;
}
td{
    text-indent: 1em;
}
tr{
    height: 30px;
}