body{
    background-color: azure;
}
.form{
    display: block;
    margin: auto;
    width: 50%;
}
fieldset {
    border: 1px solid #333;
    padding: 5%;
    margin: 0px;
    width: 87%;
    background-color: beige;
  }
legend {
    font-weight: bold;
    color: #200e00cb;;
    padding: 0 10px;
    margin-bottom: -25px;
}
input {
    margin-bottom: 10px;
    height: 20px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 2px;
}
p {
    margin-bottom: 8px;
}
#control {
    width: 80px;
}