body{
    text-align: center;
    background-color: azure;
}
h1{
    color: #200e00cb;
}
#tbl{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    background-color: beige;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #0a0a0a;
    text-align: left;
    padding: 8px;
    vertical-align: top;
    padding-bottom: 15px;
}
tr:nth-child(even) {
    background-color: azure;
}
tr:hover {
    background-color: rgb(255, 218, 56);
}
tr:hover:nth-child(even) {
    background-color: #ff3636;
}
#pad{
    padding-bottom: 50px;
}

#pad1{
    padding-bottom: 80px;
}