body {
    background-color: azure;
}
.content {
    background-color: beige;
    padding: 2em;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 800px;
    margin: auto;
}
.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.intro img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
}
.intro-desc {
    max-width: 600px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}